body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* Margin needs to be zero to force the body to be exactly the viewport size */
    margin: 0;
    height: 100vh;
}

#container {
    display: flex; 
    flex:1 1 0;
    /* justify-content: center; */
    /* align-items: center; */
    flex-wrap: wrap;
    border-style: solid;
    padding:200px;
    margin: 100px;
} 

.pixel {
    border-style: solid;
    border-width: thin;
    padding:3px;
}
